/* REM AND EM DO NOT DEPEND ON HTML FONT SIZE IN MEDIA QUERIES!
INSTED,1REM = 1EM = 16PX;

EX: 1350 / 16 = 84EM

*/

/* ********************************** */
/*Below 1344px (Smaller Desktops = notebooks screens (HD) RES*/

/* ********************************** */

@media (max-width: 84em) {
  /* Hero section */
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  /* Testimonials sections / Grid Gallery */
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Test hidden / remove if have any layout issue */
  .img-hidden {
    display: none;
  }
}

/* ********************************** */
/*Below 1200px Landscape Tablets RES*/
/* ********************************** */

@media (max-width: 75em) {
  html {
    /* Use 1rem as 10px */
    /* 9px / 16px */
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}
/* 15:33 */

/* FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
