@import url("general.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* -------------------------------!!!!!!!--------------------------- */

/* ********************************** */
/* HEADER Section */
/* ********************************** */

.header {
  background-color: var(--orange100L);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Sticky Nav */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}

/* ********************************** */
/* HEADER SECTIONS END!! */
/* ********************************** */
/* -------------------------------!!!!!!!--------------------------- */

/* ********************************** */
/* NAVIGATION Section */
/* ********************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--gray800);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:link:hover,
.main-nav-link:visited:hover {
  color: var(--orange10D);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: var(--gray000);
  background-color: var(--orangeOG);
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--orange10D);
}

/* ********************************** */
/* NAVIGATION SECTIONS END!! */
/* ********************************** */

/* ********************************** */
/* HERO Section */
/* ********************************** */
.section-hero {
  background-color: var(--orange100L);
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--gray555);
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--orange100L);
}

.delivered-img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.marked {
  color: var(--orange10D);
  font-weight: 700;
}

/* ********************************** */
/* HERO SECTIONS END!! */
/* ********************************** */
/* -------------------------------!!!!!!!--------------------------- */

/* ********************************** */
/* Featured in Section!! */
/* ********************************** */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--gray700);
}

.logos-featured-in {
  display: flex;
  justify-content: space-around;
}

.logo-featured-in {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ********************************** */
/* Featured in Section END!! */
/* ********************************** */
/* -------------------------------!!!!!!!--------------------------- */

/* ********************************** */
/* HOW WORKS SECTIONS !! */
/* ********************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: var(--gray555);
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--orange100L);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--orange90L);
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* ********************************** */
/* HOW WORKS SECTIONS END!! */
/* ********************************** */

/* ********************************** */
/* Meals SECTIONS !! */
/* ********************************** */

.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem var(--gray300);
}
.meal-content {
  padding: 3.2rem 4.8rem;
}
.meal-tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

.tag {
  color: var(--gray800);

  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 1.6rem;

  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: var(--tag-vegetarian);
}
.tag--vegan {
  background-color: var(--tag--vegan);
}
.tag--paleo {
  background-color: var(--tag--paleo);
}

.meal-title {
  font-size: 2.4rem;
  color: var(--gray800);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--orangeOG);
}

.meal-img {
  /* border-top-left-radius: 11px; */
  /* border-top-right-radius: 11px; */
  /* OR use OVERFLOW:HIDDEN */
  width: 100%;
}

/* 1:46 */
/* Remove list section to set ing general.css
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--orangeOG);
}
 */
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* ********************************** */
/* Meals SECTIONS END!! */
/* ********************************** */

/* ********************************** */
/* Testimonials SECTIONS !! */
/* ********************************** */

.section-testimonials {
  background-color: var(--orange100L);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--gray700);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.1);
  filter: saturate(120%);
}

/* ********************************** */
/* Testimonials SECTIONS END !! */
/* ********************************** */

/* ********************************** */
/* Pricing SECTIONS !! */
/* ********************************** */
.section-pricing {
  padding: 9.6rem 0;
}

.princing-plan {
  border-radius: 11px;
  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  padding: 4.6rem;
  border: 2px solid var(--orange100L);
}
.pricing-plan--complete {
  position: relative;
  padding: 4.8rem;
  background-color: var(--orange100L);
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -18%;
  background-color: var(--tag--paleo);
  color: var(--gray333);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: var(--orange10D);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--gray333);
  margin-bottom: 1.6rem;
}

.section-pricing-sign {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--gray600);
}
.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}
